<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.dao.UserDao">

    <select id="getUserList" resultType="com.zty.pojo.User">
    select * from mybatis.user
</select>
    <select id="getUserById" parameterType="int" resultType="com.zty.pojo.User">
        select * from mybatis.user where id=#{id}
    </select>
    <insert id="addUser" parameterType="com.zty.pojo.User">
    insert into mybatis.user (id, name, pwd) VALUES (#{id},#{name},#{pwd})
</insert>
    <delete id="rmUser" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>
    <update id="setUser" parameterType="com.zty.pojo.User">
        update mybatis.user set name=#{name},pwd=#{pwd} where id=#{id}
    </update>
    <select id="getLike" resultType="com.zty.pojo.User">
    select * from mybatis.user where name like #{value}
    </select>
    <select id="getUserById1" parameterType="String" resultType="com.zty.pojo.User">
        select * from mybatis.user where name=#{name}
    </select>
    <!--map查所有用户-->
    <select id="mapGetUser" parameterType="Map" resultType="User">
        select * from mybatis.user where name=#{name1}
    </select>
    <!--分页查询-->
    <select id="getUserByLimit" parameterType="Map" resultType="User">
        select * from mybatis.user limit #{id1},#{id2}
    </select>
</mapper>